<head>
	<link rel="stylesheet" href="/css/header.css">
</head>

<header>
	<div class="titulo">
		<img src="/img/logo.png" alt="logo">
		<h1>Alza La Voz</h1>
	</div>
	<div class="navegacion">
		<nav>
			<a class="nav-inicio" href="/">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#B6F5FE" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<polyline points="5 12 3 12 12 3 21 12 19 12" />
					<path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
					<path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
				</svg>
				<span>Inicio</span>
			</a>
			<!--
				<div class="nav-tutorial">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-movie" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#B6F5FE" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<rect x="4" y="4" width="16" height="16" rx="2" />
						<line x1="8" y1="4" x2="8" y2="20" />
						<line x1="16" y1="4" x2="16" y2="20" />
						<line x1="4" y1="8" x2="8" y2="8" />
						<line x1="4" y1="16" x2="8" y2="16" />
						<line x1="4" y1="12" x2="20" y2="12" />
						<line x1="16" y1="8" x2="20" y2="8" />
						<line x1="16" y1="16" x2="20" y2="16" />
					</svg>
					<a href="./tutorial.html">Tutorial</a>
				</div>
			-->
			<a class="nav-registro" href="/registro">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#B6F5FE" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
					<path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
					<line x1="3" y1="6" x2="3" y2="19" />
					<line x1="12" y1="6" x2="12" y2="19" />
					<line x1="21" y1="6" x2="21" y2="19" />
				</svg>
				<span>Registrarse</span>
			</a>
			<a class="nav-sesion" href="/sesion">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#B6F5FE" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<circle cx="12" cy="7" r="4" />
					<path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
				</svg>
				<span>Iniciar Sesion</span>
			</a>
		</nav>
	</div>
</header>