<head>
	<head>
		<link rel="stylesheet" href="/css/sidebar.css">
	</head>
</head>

<span>
	<input type="checkbox" id="sidebar-toggle">
	<div class="sidebar">
		<div class="sidebar-header">
			<h3 class="brand">
				<span><img src="/img/logo.png" alt=""></span> 
				<span>Alza la voz!</span>
			</h3> 
			<label for="sidebar-toggle" class="ti-menu-alt"></label>
		</div>
		
		<div class="sidebar-menu">
			<ul>
				<li>
					<a href="/account/home">
						<span class="ti-home"></span>
						<span>Inicio</span>
					</a>
				</li>
				<li>
					<a href="/account/perfil">
						<span class="ti-face-smile"></span>
						<span>Perfil</span>
					</a>
				</li>
				<!-- <li>
					<a href="#">
						<span class="ti-clipboard"></span>
						<span>Status</span>
					</a>
				</li> -->
				<li>
					<a href="/account/historial">
						<span class="ti-agenda"></span>
						<span>Historial</span>
					</a>
				</li>
				
				<li>
					<a href="/logout.do">
						<span class="ti-settings"></span>
						<span>Cerrar Sesión</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</span>