<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Quicksand:wght@300;500;700&family=Righteous&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="icon" href="./img/logo.png">
    <title>Alza La Voz - Denuncias online - Sitio Oficial</title>
    <link rel="stylesheet" href="/css/principal.css">
</head>
<body class="cuerpo">
    <%- include("partials/header") %>

    <main>
        <div class="descripcion">
            <span>Bienvenida a tu sitio de denuncias.</span>
        </div>
        <div class="presentacion">
            <h4>Sabemos que en México la seguridad de las mujeres es un tema importante y queremos aportar nuestra ayuda, por ello creamos Alza La Voz.</h4>
            
            <h4>Realiza una denuncia en tan solo 4 pasos:</h4>
        </div>
        <div class="container">

            <div class="card">
    
                <div class="top-row background-top-row">
                    <h4>1. Registrate</h4>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
    
                <div class="content">
                    <p>Sólo necesitamos un número celular o correo electronico y tu nombre completo.</p>
                </div>
    
            </div>
    
            <div class="card">
    
                <div class="top-row background-top-row">
                    <h4>2. Inicia Sesión</h4>
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </div>
    
                <div class="content">
                    <p>Con los datos que nos proporciones crearemos tu perfil. Posteriormente podrás modificar tus datos desde tu sesión.</p>
                </div>
    
            </div>
    
            <div class="card">
    
                <div class="top-row background-top-row">
                    <h4>3. Realiza tu denuncia</h4>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
    
                <div class="content">
                    <p>Llena el formulario de denuncia con los datos que se soliciten, mientras más informacion proporciones sobre los hechos menor será la probabilidad de una solicitud rechazada.</p>
                </div>
    
            </div>
    
            <div class="card">
    
                <div class="top-row background-top-row">
                    <h4>4. Consulta el estatus y acude a la dependencia</h4>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
    
                <div class="content">
                    <p>Despues de la denuncia se genera un folio y además se te indicará el procedimiento que debes seguir y la dependencia adecuada a la que puedes acudir para completar el reporte.</p>
                </div>
    
            </div>
    
        </div>
        <br> <br> <br>
        <div class="boton_denuncia">
            <a href="/formulario">Denuncia ahora</a>
        </div>
        <br> <br> <br> <br>
        <div class="descripcion">
            <span>No te quedes sin Alzar La Voz.</span>
        </div>
    </main>
        
    <footer>
        <div class="contacto">
            <ul>
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f icon"></i>    </a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter icon"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-google-plus-g icon"></i></a></li>
              </ul>
        </div>
        
        <p>®2023 Equipo 6</p>
    </footer>
</body>
</html>